<div class="legal">
	{{#if site.logoUrl}}
		<a href="{{site.theme.logoLink}}" class="logo">
			<img src="{{site.logoUrl}}" alt="Back to website" />
		</a>
	{{/if}}
	<p class="copyright">
		{{site.theme.copyright}}
	</p>
	<p class="links">
		{{#if site.theme.privacyLink}}
		<a href="{{site.theme.privacyLink}}">
			Privacy Policy
		</a>
		{{/if}}
		{{#if site.theme.eulaLink}}
		<a href="{{site.theme.eulaLink}}">
			EULA
		</a>
		{{/if}}
		{{#if site.theme.tosLink}}
		<a href="{{site.theme.tosLink}}">
			Terms of Service
		</a>
		{{/if}}
	</p>
</div>