<div class="social">
{{#if config.web.features.social}}
	{{#if site.theme.social.blog}}
		<a href="{{site.theme.social.blog}}" class="blog" title="Blog">
			<span class="title">Blog</span>
			<span class="icon">{{fontawesome-icon icon="blog"}}</span>
	{{/if}}

	{{#if site.theme.social.facebook}}
		<a href="{{site.theme.social.facebook}}" class="facebook" title="Facebook">
			<span class="title">Facebook</span>
			<span class="icon">{{fontawesome-icon prefix="fab" icon="facebook"}}</span>
	{{/if}}

	{{#if site.theme.social.instagram}}
		<a href="{{site.theme.social.instagram}}" class="instagram" title="Instagram">
			<span class="title">Instagram</span>
			<span class="icon">{{fontawesome-icon prefix="fab" icon="instagram"}}</span>
	{{/if}}

	{{#if site.theme.social.twitter}}
		<a href="{{site.theme.social.twitter}}" class="twitter" title="Twitter">
			<span class="title">Twitter</span>
			<span class="icon">{{fontawesome-icon prefix="fab" icon="twitter"}}</span>
	{{/if}}

	{{#if site.theme.social.github}}
		<a href="{{site.theme.social.github}}" class="github" title="GitHub">
			<span class="title">GitHub</span>
			<span class="icon">{{fontawesome-icon prefix="fab" icon="github"}}</span>
	{{/if}}

	{{#if site.theme.social.linkedin}}
		<a href="{{site.theme.social.linkedin}}" class="linkedin" title="LinkedIn">
			<span class="title">LinkedIn</span>
			<span class="icon">{{fontawesome-icon prefix="fab" icon="linkedin"}}</span>
	{{/if}}

	<a href="https://api.pinpoint.com.so/rss/{{site.id}}" class="rss" title="RSS Feed">
		<span class="title">RSS</span>
		<span class="icon">{{fontawesome-icon icon="rss"}}</span>
	</a>
{{/if}}
</div>
