<div class="social">
{{#if config.features.social}}
	{{#if site.theme.social.blog}}
		<a href="{{site.theme.social.blog}}" class="blog">
			<span class="title">Blog</span>
			<span class="icon">{{fontawesome-icon icon="blog"}}</span>
	{{/if}}

	{{#if site.theme.social.facebook}}
		<a href="{{site.theme.social.facebook}}" class="facebook">
			<span class="title">Facebook</span>
			<span class="icon">{{fontawesome-icon prefix="fab" icon="facebook"}}</span>
	{{/if}}

	{{#if site.theme.social.instagram}}
		<a href="{{site.theme.social.instagram}}" class="instagram">
			<span class="title">Instagram</span>
			<span class="icon">{{fontawesome-icon prefix="fab" icon="instagram"}}</span>
	{{/if}}

	{{#if site.theme.social.twitter}}
		<a href="{{site.theme.social.twitter}}" class="twitter">
			<span class="title">Twitter</span>
			<span class="icon">{{fontawesome-icon prefix="fab" icon="twitter"}}</span>
	{{/if}}

	{{#if site.theme.social.github}}
		<a href="{{site.theme.social.github}}" class="github">
			<span class="title">GitHub</span>
			<span class="icon">{{fontawesome-icon prefix="fab" icon="github"}}</span>
	{{/if}}

	{{#if site.theme.social.linkedin}}
		<a href="{{site.theme.social.linkedin}}" class="linkedin">
			<span class="title">LinkedIn</span>
			<span class="icon">{{fontawesome-icon prefix="fab" icon="linkedin"}}</span>
	{{/if}}

	<a href="https://api.changelog.so/rss/{{site.id}}" class="rss">
		<span class="title">RSS</span>
		<span class="icon">{{fontawesome-icon icon="rss"}}</span>
	</a>
{{/if}}
</div>
