<div class="taglist">
  {{#each changelog.tagColors}}
    <span
      class="tag clickable {{tag}}"
      style="background-color:{{backgroundColor}};color:{{color}};border:{{border}}"
	  data-tag="{{tag}}"
    >
      {{tag}}
    </span>
  {{/each}}
</div>