<a class="tile" href="{{pathname url}}" data-changelog-id="{{id}}">
	{{#if cover_image}}
		<img src="{{cover_image}}" alt="" />
	{{else}}
		<div class="empty">&nbsp;</div>
	{{/if}}
	<div class="container">
		<h2 class="title">
			{{title}}
		</h2>
		
		<p class="date">
			{{friendly-date dateAt}}
		</p>

		{{include src="taglist.hbs" changelog=.}}
		
		<p class="headline">
			{{headline}}
		</p>
		
		<section>
			<span class="read">Read
				<svg viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round"
					stroke-linejoin="round">
					<path d="M5 12h14"></path>
					<path d="M12 5l7 7-7 7"></path>
				</svg>
			</span>
			<span class="pageviews">
				<svg stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round"
					viewBox="0 0 24 24">
					<path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
					<circle cx="12" cy="12" r="3"></circle>
				</svg>
				<span class="count">{{compactInteger stats.pageviews}}</span>
			</span>
			<span class="claps">
				{{include src="clap.hbs"}}
				<span class="count">{{compactInteger stats.claps}}</span>
			</span>
		</section>
	</div>
</a>