<p
  class="text-center sm:text-left text-sm text-gray-500 links flex justify-center items-center sm:justify-start flex-row divide-x divide-gray-700 space-x-2"
>
  {{#if site.theme.privacyLink}}
    <a href="{{site.theme.privacyLink}}">Privacy Policy</a>
  {{/if}}
  {{#if site.theme.eulaLink}}
    <a href="{{site.theme.eulaLink}}">EULA</a>
  {{/if}}
  {{#if site.theme.tosLink}}
    <a href="{{site.theme.tosLink}}">Terms of Service</a>
  {{/if}}
</p>
<p class="text-center sm:text-left text-sm text-gray-500 copyright">
  {{site.theme.copyright}}
</p>
<p class="text-center sm:text-left text-sm text-gray-500 address">
  {{site.mailingAddress}}
</p>
<p class="text-center sm:text-left poweredby">
  <a
    class="text-sm mt-6 inline-flex items-center"
    href="https://changelog.so/?utm_source=referral&utm_campaign={{site.id}}"
  >
    {{logo width="22" height="21"}}
    <span class="text-gray-500 hover:text-purple-100 ml-2">Powered by Changelog</span>
  </a>
</p>