
{{#if site.theme.social.blog}}
	<a href="{{site.theme.social.blog}}" class="text-gray-400 hover:text-purple-100 blog">
		<span class="sr-only">Blog</span>
		<span class="h-6 w-6">{{fontawesome-icon icon="blog"}}</span>
{{/if}}

{{#if site.theme.social.facebook}}
	<a href="{{site.theme.social.facebook}}" class="text-gray-400 hover:text-purple-100 facebook">
		<span class="sr-only">Facebook</span>
		<span class="h-6 w-6">{{fontawesome-icon prefix="fab" icon="facebook"}}</span>
{{/if}}

{{#if site.theme.social.instagram}}
	<a href="{{site.theme.social.instagram}}" class="text-gray-400 hover:text-purple-100 instagram">
		<span class="sr-only">Instagram</span>
		<span class="h-6 w-6">{{fontawesome-icon prefix="fab" icon="instagram"}}</span>
{{/if}}

{{#if site.theme.social.twitter}}
	<a href="{{site.theme.social.twitter}}" class="text-gray-400 hover:text-purple-100 twitter">
		<span class="sr-only">Twitter</span>
		<span class="h-6 w-6">{{fontawesome-icon prefix="fab" icon="twitter"}}</span>
{{/if}}

{{#if site.theme.social.github}}
	<a href="{{site.theme.social.github}}" class="text-gray-400 hover:text-purple-100 github">
		<span class="sr-only">GitHub</span>
		<span class="h-6 w-6">{{fontawesome-icon prefix="fab" icon="github"}}</span>
{{/if}}

{{#if site.theme.social.linkedin}}
	<a href="{{site.theme.social.linkedin}}" class="text-gray-400 hover:text-purple-100 linkedin">
		<span class="sr-only">LinkedIn</span>
		<span class="h-6 w-6">{{fontawesome-icon prefix="fab" icon="linkedin"}}</span>
{{/if}}

	<a
		href="https://api.changelog.so/rss/{{site.id}}"
		class="text-gray-400 hover:text-purple-100 rss"
	>
		<span class="sr-only">RSS</span>
		<span class="h-6 w-6">{{fontawesome-icon icon="rss"}}</span>
	</a>
