<div class="taglist gap-x-2 gap-y-1 flex justify-start flex-grow-0 flex-wrap">
  {{#each changelog.tagColors}}
    <span
      class="tag {{tag}}"
      style="background-color:{{backgroundColor}};color:{{color}};border:{{border}}"
    >
      {{tag}}
    </span>
  {{/each}}
</div>